.main-container {
  &.download {
    background-color: #A1ABCF;
  }
}

.header {
  padding-left: 60px;
  padding-top: 20px;
  .main {
    font-size: 48px;
    font-weight: bold;
  }
  .second {
    margin-top: -19px;
    font-size: 28.69px;
    font-weight: bold;
    opacity: 60%
  }
}
