.admin__row{
    display: grid;
    grid-template-columns: auto auto ;
    grid-auto-rows: minmax(1px, auto);
    justify-content: left;
    align-items: normal;
    grid-gap: 30%;
    background-color: #4FBCB9;
}

.admin__container{
}

.AdminStatistics{
    display: grid;
    justify-content: center;
    
    width: 1520px;
}