.event-container {
  display: flex;
}

.event-home-row{
  //display: flex;
  //z-index: -1;
  //margin-left: auto;
  //margin-right: auto;

  display: grid;
  grid-template-columns: auto auto auto ;
  grid-auto-rows: minmax(1px, auto);
  justify-content: left;
  align-items: normal;
  grid-gap: 1%;
}

.home-container-filter{
  margin-left: 3%;
}
