.all-key-speakers-row {
  display: grid;
  grid-template-columns: auto auto auto auto ;
  grid-auto-rows: minmax(1px, auto);
  justify-content: left;
  align-items: normal;
  grid-gap: 1%;
  margin-left: 170px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.key-speaker-page {
  text-align: center;

  #{&}-header{
    color: white;
    margin-bottom: 20px;

  }
}

.search-speakers {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 700px;
  height: 40px;
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.key-speakers-form{
  align-content: center;
  margin-left: 550px;
  margin-right: 250px;
}

.all-key-speakers-list{
  margin-top: 100px;
}
