#main-profile-div {
  font-family: Montserrat, sans-serif;
  background-color: #9dadc5;
  position: relative;
  top: 50px;
  left: 20%;
  transform: translatex(-50%);
  width: 500px;
  height: 1000px;
  border-radius: 40px;
  margin-bottom: 50px;
}
#main-profile-div #profil-container {
  position: relative;
  background-color: #2b3340;
  width: 100%;
  height: 300px;
  border-radius: 40px 40px 20px 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}
#main-profile-div #profil-container #profile {
  color: #fff;
  position: absolute;
  left: 20px;
  top: 40%;
  transform: translatey(-60%);
}
#main-profile-div #profile-picture {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translatex(-50%);
  z-index: 9999;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
#main-profile-div #container-info {
  position: absolute;
  top: 60%;
  left: 5%;
  transform: translatey(-60%);
  width: 90%;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
#main-profile-div #container-info ul {
  margin-top: 80px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#main-profile-div #container-info ul #name {
  font-size: 2em;
  font-weight: 200;
  text-align: center;
}
#main-profile-div #container-info ul #mail {
  color: #999da3;
  text-align: center;
  letter-spacing: 1px;
}
#main-profile-div #container-info ul .line {
  width: 80%;
  margin: 10px auto;
  height: 2px;
  background-color: #999da3;
}
#main-profile-div #container-info ul .info {
  width: 90%;
  margin: 10px auto;
  height: 56px;
  line-height: 56px;
  border-radius: 10px;
  color: #2b3340;
  text-indent: 15px;
}
#main-profile-div #container-info ul .info:hover {
  background-color: #ebebf0;
}
#main-profile-div #container-info ul .info::after {
  content: ">";
  position: absolute;
  right: 35px;
}
#main-profile-div #container-info .profile-button {
  height: 60px;
  width: 90%;
  position: relative;
  bottom: 50px;
  display: flex;
  margin-left: 0;
  justify-content: space-between;
}
#main-profile-div #container-info .profile-button .button {
  height: 100%;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  transition-duration: 200ms;
}
#main-profile-div #container-info .profile-button .button:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transform: translatey(-5px);
}
#main-profile-div #container-info .profile-button #return {
  border: solid #a5adb6 1px;
  background-color: transparent;
  width: 80px;
  display: flex;
}
#main-profile-div #container-info .profile-button #return svg {
  margin: auto;
  height: 30%;
  fill: #2b3340;
}
#main-profile-div #container-info .profile-button #save {
  border: none;
  background-color: #0a6cff;
  font-size: 25px;
  color: #fff;
  width: calc(100% - 80px - 20px);
}
#main-profile-div #container-info #home-bar {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #333;
  width: 40%;
  height: 6px;
  border-radius: 3px;
}

@media (min-height: 1000px) {
  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
