.event {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    width: fit-content;
    max-height: 100%;
    min-width: auto;
    border-radius: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

}
.header {
    padding-left: 60px;
    padding-top: 20px;
}
.main1 {
    font-size: 48px;
    font-weight: bold;
 }
.second {
      margin-top: -19px;
      font-size: 28.69px;
      font-weight: bold;
      opacity: 60%
}
/* .button1{
    margin-left: 90%;
    margin-top: 1%;
} */
.image{
    border-radius: 10% 10% 0% 0%;
    max-height: 1250%;
    width: 100%;
    margin-top: 3%;
    object-fit: contain;
    margin-bottom: 3%;
}
.button{
    color: #242424;
    position: absolute;
    margin-left: 83%;
    margin-top: 1%;
    width: 10%;
}
.mainheader{
    background-color:#8D9BCD;
    /*#8D9BCD*/
}
.eventTitle1{
    color: white;
}
.eventTitle2{
    color: lightgrey;
}
.event__info{
    background-color: #2552F4;
    width: 100%;
    border-radius: 0% 0% 10% 10%;
    margin-left: auto;
    text-align: center;
}
.home__row{
    display: flex;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
}

.home__container{
    margin-left: 3%;
}